<a href="https://colab.research.google.com/github/Sudhasree2005/Sudhasree2005/blob/main/AI_school_python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Print("hello")

NameError: ignored

In [2]:
print("hello")

hello

In [3]:
a=3
b=9
print("square of", a, "is",b)
print("square of {a} is {b}")

square of 3 is 9
square of {a} is {b}

In [4]:
a=3
b=9
print("square of", a, "is",b)
print("square of {a} is {b}") #these are called fstrings

square of 3 is 9
square of {a} is {b}

In [5]:
a=3
b=9
print("square of", a, "is",b)
print(f"square of {a} is {b}") #These are called fsrings - Comment Line

square of 3 is 9
square of 3 is 9

In [6]:
x=10
name="sudha"
is_it_raining= True
decimal = 1.82
print(x)
print(name)
print(is_it_raining)
print(decimal)
print(type(x))
print(type(name))
print(type(is_it_raining))
print(type(decimal))

10
sudha
True
1.82
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [8]:
#type casting
y=int(5.6)
z=int("2300")#converting string to integer
#q=int("Hello")#error will occur

In [9]:
print(y,z)

5 2300

In [10]:
print("y+z", y+z)

y+z 2305

In [11]:
#arithmetic
print("y-z", y-z)
print("y/z", y/z)
print("z mod y", z%y)
print("Exponent a power 2", a**2)

y-z -2295
y/z 0.002173913043478261
z mod y 0
Exponent a power 2 9

In [12]:
a=5
b=6
print(a==b)
print(a!=b)
print(a>4)
print(b<3)
print(b>a)
print(type(a==b))

False
True
True
False
True
<class 'bool'>

In [13]:
#logical operator
print(a<b or a==b)
print(a<b and (a+b)==11)
print(not(a<b))

True
True
False

In [14]:
a=None #value of a is null
b=a or 4
print(b)

4

In [16]:
#conditional operator
is_it_raining= True
if(is_it_raining):
  print("I can't play football")
else:
  print("Lets play football")

I can't play football

In [17]:
summer = True
winter = True
rainy = False
if (summer):
  print("let eat Icecream")
elif(winter):
  print("lets drink chai")
else:
  print("Lets go and study")

let eat Icecream

In [18]:
summer = False
winter = True
rainy = False
if (summer):
  print("let eat Icecream")
elif(winter):
  print("lets drink chai")
else:
  print("Lets go and study")

lets drink chai

In [19]:
t=0
while(t<10):
  print("welcome to AI Summer School")
  t=t+1

welcome to AI Summer School
welcome to AI Summer School
welcome to AI Summer School
welcome to AI Summer School
welcome to AI Summer School
welcome to AI Summer School
welcome to AI Summer School
welcome to AI Summer School
welcome to AI Summer School
welcome to AI Summer School

In [20]:
t=0
while(t<10):
  print("welcome to AI Summer School", end="$")
  t=t+1

welcome to AI Summer School$welcome to AI Summer School$welcome to AI Summer School$welcome to AI Summer School$welcome to AI Summer School$welcome to AI Summer School$welcome to AI Summer School$welcome to AI Summer School$welcome to AI Summer School$welcome to AI Summer School$

In [21]:
for i in range(5,0,-1): #initial vlue, final value , increment
  print(i)

5
4
3
2
1

In [22]:
for i in ['T','P']:
  print(i)
  break

T

In [23]:
for i in ['T','P']:
  print(i)
else:
  print("for loop else statement successfully executed")

T
P
for loop else statement successfully executed

In [24]:
for i in ['T','P']:
  print(i)
  break
else:
  print("for loop else statement successfully executed")

T

In [25]:
x=4
for i in range(1,x+1):
  for j in range(1,i+1):
    print(j,end='')
  print('')

1
12
123
1234

In [26]:
#functions
def add_nums(a,b):
  return a+b
add_nums(2,3)
print(add_nums(2,3))

5

In [27]:
def odd_even(num):
  if num%2 == 0:
    return "Even"
  else:
    return "Odd"

SyntaxError: ignored

In [28]:
def odd_even(num):
  if num%2 == 0:
    return "Even"
  else:
    return "Odd"
print(odd_even(5))
print(odd_even(6))

Odd
Even

In [29]:
for i in range(5):
  print(i,end='#')

0#1#2#3#4#

In [30]:
#oop
class pen:
  #classvar
  type = "ball point"
  color="blue"
  price=11.00
  #memberfunction
  def writing(self):
    print('write')

c=pen()
c.writing()

write

In [31]:
#_init()_ - similar to constructors
class vehicle:
  vechcle_type = 'car'
  def _init_(self,company1,color1):
    self.company=company1
    self.color=color1
  def printing(self):
    print("vehicle type:", vehicle_type)
    print("company:", self.company)
    print("color:", self.color)

c1 = vehicle("ferari","Red")

TypeError: ignored

In [32]:
#_init()_ - similar to constructors
class vehicle:
  vechcle_type = 'car'
  def _init_(self,company1,color1):
    self.company=company1
    self.color=color1
  def printing(self):
    print("vehicle type:", self.vehicle_type)
    print("company:", self.company)
    print("color:", self.color)

c1 = vehicle("ferari","Red")

TypeError: ignored

In [40]:
#_init()_ - similar to constructors
class vehicle:
  vechcle_type = 'car'
  def _init_(self,company1,color1):
    self.company=company1
    self.color=color1
  def printing(self):
    print("vehicle type:", self.vechcle_type)
    print("company:", self.company)
    print("color:", self.color)

c1 = vehicle("figo","red")
c1.printing

TypeError: ignored

In [42]:
class company:
    def _init_(self):
    self.ceo="sudha"
    self.compname="Suryaya namaha"
  def show(self):
    print("CEO name:",self.ceo)
    print(f"company name: {self.compname}")
class sales:
  def _init_(self,name):
    company._init_(self)
    self.salary="20000"

    def printsal(self):
      print(f"Salary: {self.salary}")

class serviceemp:
  def _init_(self,name,branch_name):
    company._init_(self)
    self.branch_name=branch_name
  def branch(self):
    print(f"Branch:{self.branch_name}")

#emp1=sales("Mr.X")
emp1=company()
emp1.show()
#emp1.printsal()
print("\n")

AttributeError: ignored