<a href="https://colab.research.google.com/github/Sudhasree2005/Sudhasree2005/blob/main/AI_school_python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Dictonary - the key is immutable(cannot be changed), but the value is mutable
my_dict={'name': 'sudha',
         'age': 40}
my_dict

{'name': 'sudha', 'age': 40}

In [2]:
#Lists (of diff data type)
a=['sudha',40,'net cleared',True,'Highly Paid']
print(a)

['sudha', 40, 'net cleared', True, 'Highly Paid']

In [3]:
print(a[0],a[2])

sudha net cleared

In [4]:
print(a[-3])

net cleared

In [5]:
print(a[-2])

True

In [6]:
print(len(a))

5

In [7]:
b=[] #create empty list
print(b)
for num in range(10):
  b.append(num)
  print(b)

[]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
c=[] #create empty list
print(c)
for num in range(10):
  c.append(num)
print(c)

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#slicing
print(b[1:7])

[1, 2, 3, 4, 5, 6]

In [11]:
print(b[4:])

[4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
print(b[-1])

9

In [14]:
print(b[-4:-2])

[6, 7]

In [15]:
print(b[-5:-1])

[5, 6, 7, 8]

In [16]:
print(b[-2:-4])

[]

In [27]:
#increment the element by 2 and save it in a new list
d=[]
for i in range(len(b)):
  d.append(2 * b[i])
  print(d)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10, 12]
[0, 2, 4, 6, 8, 10, 12, 14]
[0, 2, 4, 6, 8, 10, 12, 14, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 2]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 2, 4]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 2, 4, 6]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 2, 4, 6, 8, 10, 12]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 2, 4, 6, 8, 10, 12, 14]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 2, 4, 6, 8, 10, 12, 14, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [31]:
b=[] #create empty list
print(b)
for num in range(10):
  b.append(num)
  print(b)
n=[]
n=[x*2 for x in b]
print(n)

[]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
k=[x+2 for x in b]
print(k)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [33]:
z=[]
z=[x for x in b if x>6]

In [34]:
print(z)

[7, 8, 9]

In [39]:
b.remove(1)
print(b)

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
no=[1,2,3,4,5,6,7,8,9,12]
div=["div by 6" if num%2 == 0 and num%3 == 0 else "not div by 6" for num in no]
print(div)

['not div by 6', 'not div by 6', 'not div by 6', 'not div by 6', 'not div by 6', 'div by 6', 'not div by 6', 'not div by 6', 'not div by 6', 'div by 6']

In [45]:
#tuples
tup_a=(1,2,3,4,5,6)
print(tup_a)

(1, 2, 3, 4, 5, 6)

In [46]:
#cant change tuple value, but can change list value
tup_a[2]=42

TypeError: ignored

In [47]:
#make new tuple
e=[2*x for x in tup_a]

In [48]:
print(e)

[2, 4, 6, 8, 10, 12]

In [49]:
tup1=(5)
tup2=(5,)
tup3=(5,2,3)
print(type(tup1))
print(type(tup2))
print(type(tup3))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [50]:
# A collection of items that is both unordered and unindexed and does not allow duplicate valuesis called set.
thisset={"apple","banana","cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [51]:
#Set operations
one=set([4,5,6,7,1,2,3])
two=set([4,5,3,2,1,2])
print("The sets:", one,two)
print("intersection:", one & two)
print("union:", one | two)
print("Difference:", one - two)

The sets: {1, 2, 3, 4, 5, 6, 7} {1, 2, 3, 4, 5}
intersection: {1, 2, 3, 4, 5}
union: {1, 2, 3, 4, 5, 6, 7}
Difference: {6, 7}

In [52]:
phone_num={"MAnish": 663636363}
print(phone_num)

{'MAnish': 663636363}

In [53]:
#can change value but noe key
phone_num={"MAnish": 9092190921}
print(phone_num)

{'MAnish': 9092190921}

In [55]:
print(phone_num['MAnish'])

9092190921

In [61]:
#file handling
f = open("demo.txt","w")
f.write("Hello, I am Sudha")
f = open("demo.txt","r")
print(f.read())
print(f.readline())

Hello, I am Sudha

In [63]:
#appending to the file
f = open("demo.txt","a")
f.write("I am a Professor")
f = open("demo.txt","r")
print(f.read())
#print(f.readline())

Hello, I am SudhaI am a ProfessorI am a Professor